<div id="easily-adjustable-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">
	        {% t offerta.cifratura.adjustable.details.lead %}
				</p>
          <h3>{% t offerta.cifratura.adjustable.details.reports.headline %}</h3>
          {% t offerta.cifratura.adjustable.details.reports.text %}

          <h3>{% t offerta.cifratura.adjustable.details.data.headline %}</h3>
          {% t offerta.cifratura.adjustable.details.data.text %}

          <h3>{% t offerta.cifratura.adjustable.details.java.headline %}</h3>
          {% t offerta.cifratura.adjustable.details.java.text %}
			</div>
		</div>
	</div>
</div>
